@model Caso1_PrograAvanzada.Entities.Habitacion

@{
    ViewData["Title"] = "Editar Habitación";
}

<h2>Editar Habitación</h2>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <input asp-for="CodigoDeHabitacion" type="hidden" />

    <input asp-for="NombreDeHabitacion" type="hidden" />

    <input asp-for="CantidadDeBanos" type="hidden" />

    <input asp-for="Ubicacion" type="hidden" />

    <div class="mb-3">

        <label>Huéspedes</label>

        <input asp-for="CantidadDeHuespedesPermitidos"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Camas</label>

        <input asp-for="CantidadDeCamas"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Encargado</label>

        <input asp-for="EncargadoDeLimpieza"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Tipo</label>

        <select asp-for="TipoDeHabitacion"
                class="form-select">

            <option value="1">Junior</option>
            <option value="2">Superior</option>
            <option value="3">Suite</option>

        </select>

    </div>

    <div class="mb-3">

        <label>Costo Limpieza</label>

        <input asp-for="CostoDeLimpieza"
               class="form-control" />

    </div>

    <div class="mb-3">

        <label>Costo Reserva</label>

        <input asp-for="CostoDeReserva"
               class="form-control" />

    </div>

    <div class="form-check mb-3">

        <input asp-for="Estado"
               class="form-check-input" />

        <label class="form-check-label">

            Activa

        </label>

    </div>

    <button type="submit" class="btn btn-success">

        Guardar Cambios

    </button>

    <a asp-action="Index"
       class="btn btn-secondary">

        Regresar

    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}